@using HospitalManagementSystem.Utilities
@model PagedResult<HospitalManagementSystem.ViewModels.RoomVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Index";
}

@section Css{
    <link rel="stylesheet" href="~/css/custom.css">
}
<div>
    <div class="create-button">
        <a asp-action="Create" class="btn btn-outline-success ">Create</a>
    </div>
    <table>
        <thead>
            <tr class="table-headers">
                <th>Id</th>

                <th>No</th>
                <th>Type</th>
                <th>Status</th>
                <th>Hospital </th>
                <th>Settings</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <th class="mobile-header">Id</th>
                    <td>@item.Id</td>
                    <th class="mobile-header">Room Number</th>
                    <td>@item.RoomNo</td>
                    <th class="mobile-header">Type</th>
                    <td>@item.Type</td>
                    <th class="mobile-header">Status</th>
                    <td>@item.Status</td>
                    <th class="mobile-header">Hospital</th>
                    <td>@item.Hospital.Name</td>
                    

                    <th class="mobile-header">Settings</th>
                    <td>
                        <a asp-route-id="@item.Id" asp-action="Detail" class="btn btn-outline-info">Detail</a>
                        <a asp-route-id="@item.Id" asp-action="Edit" class="btn btn-outline-warning">Edit</a>
                        <a asp-route-id="@item.Id" asp-action="Delete" class="btn btn-outline-danger">Remove</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div class="my-2">
    <cs-pager cs-paging-pagesize=@Model.PageSize
              cs-paging-pagenumber=@Model.PageNum
              cs-paging-totalitems=@Model.TotalItems
              cs-pagenumber-param="PageNum"
              asp-controller="Room"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item "
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link "
              cs-pager-link-other-class="page-link">

    </cs-pager>
</div>